<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="description" content="Ollama UI">
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Expires" content="0">
  <title>Ollama UI</title>
  <link rel="stylesheet" href="../static/css/ollama.css">
  <script src="../static/js/markdown-it.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
</head>

<body>
  <div class="container">
    <header class="header header--medium">
      <div class="header__content">
        <h1 class="header__title">Ollama UI 🦙🦜🔗</h1>
        <p class="header__subtitle">Propulsed by 🐳 Compose & LangChain</p>
      </div>
    </header>
    <main class="main">
      <section class="question">
        <div class="question__field">
          <textarea id="txt_prompt" class="question__textarea" placeholder="Type your question here"></textarea>
        </div>
        <div class="question__buttons">
          <button id="btn_submit" class="button button--primary">Submit</button>
          <button id="btn_stop" class="button button--secondary">Stop</button>
        </div>
      </section>
      <section class="answer">
        <article class="answer__message message--dark">
          <header class="answer__header">
            <h2 class="answer__title">🤖 Answer:</h2>
          </header>
          <div id="txt_response" class="answer__body"></div>
        </article>
      </section>
    </main>
  </div>
  <script type="module">
    let btnSubmit = document.querySelector("#btn_submit")
    let btnStop = document.querySelector("#btn_stop")
    let txtPrompt = document.querySelector("#txt_prompt")
    let txtResponse = document.querySelector("#txt_response")
    let aborter = new AbortController()
    const md = markdownit({
      highlight: function (str, lang) {
        if (lang && hljs.getLanguage(lang)) {
          try {
            return '<pre class="hljs"><code>' +
              hljs.highlight(str, { language: lang, ignoreIllegals: true }).value +
              '</code></pre>';
          } catch (__) { }
        }
        return '<pre class="hljs"><code>' + md.utils.escapeHtml(str) + '</code></pre>';
      }
    });
    btnSubmit.addEventListener("click", async _ => {
      let responseText = ""
      try {
        const response = await fetch("/ollama", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            question: txtPrompt.value
          }),
          signal: aborter.signal
        })
        const reader = response.body.getReader()
        while (true) {
          const { done, value } = await reader.read()
          if (done) {
            txtPrompt.value = ""
            hljs.highlightAll();
            return
          }
          const decodedValue = new TextDecoder().decode(value)
          console.log(decodedValue)
          responseText = responseText + decodedValue
          txtResponse.innerHTML = md.render(responseText)
        }
      } catch (error) {
        if (error.name === 'AbortError') {
          console.log("✋", "Fetch request aborted")
          txtPrompt.value = ""
          aborter = new AbortController()
        } else {
          console.log("😡", error)
        }
      }
    })
    btnStop.addEventListener("click", async _ => {
      aborter.abort()
    })
  </script>
</body>

</html>
